{% include '_includes/env.liquid' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width initial-scale=1">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>ThermalSpan</title>
        {% endif %}
        <meta name="description" content="{{ description }}">
        <link rel="stylesheet" href="{{ "/css/style.css" | prepend: base_url}}">
        {% unless is_post %}
        <style>
        html { 
          background: #000000 url({{ base_url }}/images/nebula2.jpg) no-repeat center center fixed; 
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          color: #242729;
          font-family: Times-Bold, Serif;
        }
        </style>
    {% endunless %}

  <style type="text/css">code{white-space: pre;}</style>
  <script src="{{ base_url }}/static/KaTeX/katex.js"></script>
  <link rel="stylesheet" href="{{ base_url }}/static/KaTeX/katex.css" />
  <script type="text/javascript">
    window.onload = function() {
        var math_display = document.getElementsByClassName("math");
        for (var i=0; i < math_display.length; i++) {
            var texText = math_display[i].firstChild
            katex.render(texText.data, math_display[i])
        }
    }
  </script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->


    </head>
    <body>
        {% if logo %}
        {% include '_includes/image_header.liquid' %}
        {% endif %}
        <div id="menu" class="dark-div">
        <div id="menu-box">
            <ul>
                <li>
                    <a href="{{ base_url }}/index.html">Home</a>
                </li>
                <li>
                    <a href="{{ base_url }}/index.html">Docs</a>
                </li>
                <li>
                    <a href="{{ base_url }}/index.html">Projects</a>
                </li>
                <li>
                    <a href="{{ base_url }}/connect/index.html">Connect</a>
                </li>
            </ul>
        </div>
        </div>
        <div class="full-div"> 
        <div id="content">
        {% if is_post %}
            {% include "_layouts/post.liquid" %}
        {% else %}
            {{ content }}
        {% endif %}
        </div>
        </div>
    </body>
</html>
